surajyadav.xyz:443 {
	# Set this path to your site's directory.
	root * /var/www/html

	# enable gzip compression
	encode gzip

	# Enable the static file server.
	file_server
}

jupyter.surajyadav.xyz:443 {
	reverse_proxy jupyter:8000
}